/* Estilo do Alerta Pacífico (Toast) */
.toast {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.9);
    color: #62ff8a;
    padding: 12px 25px;
    border: 1px solid #62ff8a;
    border-radius: 4px;
    font-size: 0.9rem;
    z-index: 1000;
    transition: top 0.5s ease-in-out;
    box-shadow: 0 0 20px rgba(98, 255, 138, 0.4);
}

.toast.show {
    top: 20px; /* Desce suavemente */
}
